.footer {
  background: #121723;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #cac3c3;
  font-size: 14px;
  height: 40rem;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    height: 15rem;
  }
}
.footer .col-1 {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  .footer .col-1 {
    margin-bottom: 5em;
    margin-top: 4em;
  }
}
.footer .title {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 3em;
}
@media only screen and (min-width: 768px) {
  .footer .title {
    margin-top: 0;
  }
}
.footer .contact {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-left: 8em;
}
.footer h3 {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.footer .logo {
  color: rgb(20, 166, 166);
  font-size: 1.3em;
  font-weight: bold;
}
.footer .col-2-container {
  display: flex;
  gap: 1em;
  width: 90%;
  margin-bottom: 4em;
}
@media only screen and (min-width: 768px) {
  .footer .col-2-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }
}
.footer .col-2-container .col-2 {
  margin-top: 2em;
}
.footer .col-2-container .col-2 p {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.5em;
}
.footer .col-2-container .col-2 img {
  width: 20px;
  margin-left: 1.5em;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .footer .col-2-container .col-2 img {
    width: 30px;
  }
}
.footer .col-2-container .col-2 img:hover {
  transform: scale(1.5);
}
.footer .col-2-container .col-3 {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-left: 4rem;
}
@media only screen and (min-width: 768px) {
  .footer .col-2-container .col-3 {
    margin-left: 0;
  }
}

.copy-right {
  text-align: center;
  background: #121723;
  color: white;
  font-size: 14px;
}

.content {
  flex: 1;
  width: 100%;
  max-width: 100%;
  margin-top: 5rem;
}
.content .hero {
  width: 100%;
}
.content img {
  height: 600px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .search {
  z-index: 999;
  margin-top: -15em;
  width: 90%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
@media only screen and (min-width: 1024px) {
  .content .search {
    gap: 0;
    flex-direction: row;
    margin-top: -5em;
  }
}
.content .search input {
  padding: 0.5em 5em;
  border: none;
  background: white;
}
.content .search span {
  background-color: white;
  font-size: 24px;
  color: gray;
}

.discount {
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 5em;
  margin-bottom: 3em;
}
@media only screen and (min-width: 768px) {
  .discount {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
.discount .box {
  overflow: hidden;
}
.discount .box img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.discount .box img:hover {
  transform: scale(1.5);
}
.discount .box .title {
  position: absolute;
  z-index: 1;
  margin-left: 2em;
  color: white;
  font-weight: bold;
  margin-top: 4em;
}
.discount .grid-tall {
  grid-row: span 2;
}
.discount .grid-wide {
  grid-column: span 2;
}
.discount .grid-full {
  grid-column: span 4;
  text-align: center;
  margin: 2em;
}
.discount .text {
  height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.packages-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: gray;
  margin-bottom: 4em;
  max-width: 450px;
}
@media only screen and (min-width: 768px) {
  .packages-container {
    max-width: 1200px;
    margin: auto;
  }
}
.packages-container h2,
.packages-container h3 {
  color: black;
}
.packages-container .col-1 {
  text-align: center;
  margin-bottom: 4em;
  line-height: 3em;
  grid-column: span 4;
}
.packages-container .card {
  gap: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .packages-container .card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.packages-container .card .box-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0.5em;
}
.packages-container .card img {
  width: 150px;
  height: 200px;
}
@media only screen and (min-width: 768px) {
  .packages-container .card img {
    width: 20rem;
    height: 15rem;
  }
}
@media only screen and (min-width: 1024px) {
  .packages-container .card img {
    width: 15rem;
    height: 10rem;
  }
}
.packages-container .card .price {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
  color: black;
  width: 150px;
}
.packages-container .card .desciption {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  line-height: 2rem;
  margin: 0 0.5em;
  font-size: 0.8em;
}
.packages-container .card .review {
  margin: 0 0.5em;
  margin-bottom: 1.5em;
}
.packages-container .card .button-card {
  background: #2ea295;
  color: white;
  padding: 0.5em 2em;
  border: none;
  margin-bottom: 1em;
  cursor: pointer;
}
.packages-container .card .button-card:hover {
  background: #2fbdac;
}

.sub-container {
  background: #249f9b;
  display: flex;
  width: 100%;
  margin: auto;
  height: 25rem;
}
.sub-container .input-email {
  width: 60%;
  display: flex;
  justify-content: center;
}
.sub-container .input-email input {
  padding: 1em 8em;
  border-radius: 50px;
  border: none;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .sub-container .input-email input {
    padding: 1.3em 12em;
  }
}
.sub-container .input-email .button-sub {
  padding: 1em 1em;
  border-radius: 50px;
  border: none;
  position: absolute;
  background: #0b6188;
  margin-left: 20em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .sub-container .input-email .button-sub {
    margin-top: 5px;
    margin-left: 23em;
    padding: 1em 3em;
  }
}
.sub-container .input-email .button-sub:hover {
  background: #1f84b3;
}
.sub-container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5em;
  width: 70%;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .sub-container .content {
    width: 100%;
  }
}
.sub-container .content .title {
  color: white;
  line-height: 3em;
  font-size: 12px;
}
@media only screen and (min-width: 768px) {
  .sub-container .content .title {
    font-size: 1.2em;
  }
}
.sub-container .content .title p {
  font-size: 2em;
}
.sub-container .content .title span {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

.header-top {
  padding-top: 5em;
  background: rgb(20, 166, 166);
  height: 80px;
  width: 100%;
  position: fixed;
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-top {
    display: block;
  }
}
.header-top .sosmed {
  margin-top: -4.3em;
  justify-content: space-between;
  display: flex;
}
.header-top .sosmed .follow-us {
  font-size: 18px;
  display: flex;
  margin-right: 8em;
  margin-left: 8em;
  gap: 1rem;
  font-size: 0.9em;
  color: white;
}
.header-top .sosmed .follow-us span {
  margin-left: -1em;
  font-size: 12px;
}
.header-top .sosmed .follow-us img {
  height: 18px;
  border-radius: 50px;
  font-weight: bold;
}
.header-top .sosmed .sign-in {
  display: flex;
  gap: 2em;
  margin-right: 8em;
  color: white;
  font-size: 0.8em;
}

.header-wrapper {
  position: fixed;
  min-width: 100%;
  margin-top: 3em;
}
@media only screen and (min-width: 768px) {
  .header-wrapper {
    margin-left: 6em;
  }
}

.header {
  z-index: 1;
  position: absolute;
  background: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  padding: 2em;
  max-width: 100%;
  margin: auto;
  margin-top: -3em;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .header {
    margin-top: 0;
    justify-content: space-between;
    margin: auto;
    max-width: 80%;
  }
}
@media only screen and (min-width: 1024px) {
  .header {
    max-width: 85%;
  }
}
.header .logo-icon {
  font-size: 24px;
}
.header .logo-icon p {
  color: rgb(92, 88, 88);
}
.header .logo-icon .logo {
  color: rgb(20, 166, 166);
  font-size: 1.3em;
}
.header .nav {
  margin-top: -5em;
  margin-right: -14em;
  width: 100%;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .header .nav {
    margin-top: 0;
    display: flex;
    align-items: center;
    gap: 2em;
  }
}
.header .nav .nav-bar-icon {
  z-index: 1;
  position: absolute;
  margin-top: 2em;
  width: 50%;
  align-items: end;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media only screen and (min-width: 768px) {
  .header .nav .nav-bar-icon {
    display: none;
  }
}
.header .nav .nav-bar-icon span {
  width: 1.5em;
  height: 4px;
  background: #000;
}
.header .nav .checkbox {
  z-index: 999;
  opacity: 0;
  background: #000;
  margin-top: 2.4em;
  margin-left: -2px;
  position: absolute;
  width: 95%;
  height: 1.5em;
}
@media only screen and (min-width: 768px) {
  .header .nav .checkbox {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .header .button {
    display: flex;
  }
}
.header .nav ul {
  z-index: -1;
  display: flex;
  position: absolute;
  width: 100%;
  text-align: center;
  flex-direction: column;
  color: gray;
  gap: 4em;
  list-style: none;
  background: #fff;
  padding-top: 7em;
  height: 100vh;
  margin-left: -7em;
}
@media only screen and (min-width: 768px) {
  .header .nav ul {
    margin-left: -13em;
    background: #000;
    width: 100%;
    padding-top: 0;
    height: 0;
    transition: 0;
    gap: 2em;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
}
.header .slide {
  opacity: 70%;
  right: -100%;
}
@media only screen and (min-width: 768px) {
  .header .slide {
    opacity: 100%;
    right: 0;
  }
}
.header .nav li a {
  font-size: 16px;
  text-decoration: none;
  color: rgb(58, 56, 53);
}
.header .nav li a:hover {
  color: rgb(20, 166, 166);
}
.header .icon {
  display: flex;
  gap: 2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: white;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.button {
  background: #2ea295;
  color: white;
  padding: 0.5em 2em;
  border: none;
  cursor: pointer;
}
.button:hover {
  background: #23b7a5;
}/*# sourceMappingURL=main.css.map */