@import "../styles/mixin.scss";

.content {
  flex: 1;
  width: 100%;
  max-width: 100%;
  margin-top: 5rem;

  .hero {
    width: 100%;
  }

  img {
    height: 600px;
    width: 100%;
    object-fit: cover;
  }

  .search {
    z-index: 999;
    margin-top: -15em;
    width: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    @include lg {
      gap: 0;
      flex-direction: row;
      margin-top: -5em;
    }

    input {
      padding: 0.5em 5em;
      border: none;
      background: white;
    }
    span {
      background-color: white;
      font-size: 24px;
      color: gray;
    }
  }
}

.discount {
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 5em;
  margin-bottom: 3em;
  @include md {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .box {
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      cursor: pointer;
      transform: scale(1);
      transition: 0.3s ease-in-out;
      &:hover {
        transform: scale(1.5);
      }
    }
    .title {
      position: absolute;
      z-index: 1;
      margin-left: 2em;
      color: white;
      font-weight: bold;
      margin-top: 4em;
    }
  }

  .grid-tall {
    grid-row: span 2;
  }

  .grid-wide {
    grid-column: span 2;
  }
  .grid-full {
    grid-column: span 4;
    text-align: center;
    margin: 2em;
  }

  .text {
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
  }
}

.packages-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: gray;
  margin-bottom: 4em;
  max-width: 450px;
  @include md {
    max-width: 1200px;
    margin: auto;
  }

  h2,
  h3 {
    color: black;
  }

  .col-1 {
    text-align: center;
    margin-bottom: 4em;
    line-height: 3em;
    grid-column: span 4;
  }

  .card {
    gap: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    @include lg {
      display: flex;
      align-items: center;
      justify-content: center;
      
    }

    .box-card{
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      margin: 0.5em;
    }

    img {
      width: 150px;
      height: 200px;
      @include md {
        width: 20rem;
        height: 15rem;
      }
      @include lg {
        width: 15rem;
        height: 10rem;
      }
    }

    .price {
      display: flex;
      justify-content: space-between;
      margin: 0.5em;
      color: black;
      width: 150px;
    }
    @include md {
    }

    .desciption {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      line-height: 2rem;
      margin: 0 0.5em;
      font-size: 0.8em;
    }

    .review {
      margin: 0 0.5em;
      margin-bottom: 1.5em;
    }

    .button-card {
      background: #2ea295;
      color: white;
      padding: 0.5em 2em;
      border: none;
      margin-bottom: 1em;
      cursor: pointer;
      &:hover {
        background: #2fbdac;
      }
    }
  }
}

.sub-container {
  background: #249f9b;
  display: flex;
  width: 100%;
  margin: auto;
  height: 25rem;

  .input-email {
    width: 60%;
    display: flex;
    justify-content: center;
    input {
      padding: 1em 8em;
      border-radius: 50px;
      border: none;
      position: relative;
      @include md {
        padding: 1.3em 12em;
      }
    }
    .button-sub {
      padding: 1em 1em;
      border-radius: 50px;
      border: none;
      position: absolute;
      background: #0b6188;
      margin-left: 20em;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      @include md {
        margin-top: 5px;
        margin-left: 23em;
        padding: 1em 3em;
      }
      cursor: pointer;
      &:hover {
        background: #1f84b3;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5em;
    width: 70%;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    text-align: center;
    @include md {
      width: 100%;
    }

    .title {
      color: white;
      line-height: 3em;
      font-size: 12px;
      @include md {
        font-size: 1.2em;
      }
      p {
        font-size: 2em;
      }
      span {
        margin-bottom: 2em;
        display: flex;
        justify-content: center;
      }
    }
  }
}
