@import "../styles/mixin.scss";

.footer {
  background: #121723;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #cac3c3;
  font-size: 14px;
  height: 40rem;
  flex-direction: column;
  @include md {
    flex-direction: row;
    height: 15rem;
  }

  .col-1 {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 0;
    @include md {
      margin-bottom: 5em;
      margin-top: 4em;
    }
  }
  .title {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 3em;
    @include md {
      margin-top: 0;
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-left: 8em;
  }
  h3 {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  .logo {
    color: rgb(20, 166, 166);
    font-size: 1.3em;
    font-weight: bold;
  }

  .col-2-container {
    display: flex;
    gap: 1em;
    width: 90%;
    margin-bottom: 4em;

    @include md {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
    }
    .col-2 {
      margin-top: 2em;

      p {
        text-align: center;
        font-weight: bold;
        margin-bottom: 1.5em;
      }

      img {
        width: 20px;
        margin-left: 1.5em;
        cursor: pointer;
        @include md {
          width: 30px;
        }
        &:hover {
          transform: scale(1.5);
        }
      }
    }

    .col-3 {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      margin-left: 4rem;
      @include md {
        margin-left: 0;
      }
    }
  }
}
.copy-right {
  text-align: center;
  background: #121723;
  color: white;
  font-size: 14px;
}
