.footer {
  background: #121723;
  height: 15rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #cac3c3;
  font-size: 14px;

  .col-1 {
    margin-top: 4em;
    margin-bottom: 4em;
    display: flex;
    gap: 1em;
    width: 400px;
 
  }
  .title{
    color: white;
    font-size: 1.5em;
    font-weight: bold;
  }
  .contact{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-left: 8em;

  }
  h3 {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  .logo {
    color: rgb(20, 166, 166);
    font-size: 1.3em;
    font-weight: bold;
  }
  .col-2{
    p{
      text-align: center;
      font-weight: bold;
      margin-bottom: 1.5em;
    }

    img{
      width: 30px;
     margin-left: 1.5em;
    }
  }

  .col-3{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

  }
}
.copy-right{
  text-align: center;
  background: #121723; 
  color: white;
  font-size: 14px;

}