$color-green: rgb(20, 166, 166);

.header-top {
  
  padding-top: 5em;
  background: $color-green;
  height: 80px;
  width: 100%;
  position: fixed;

  .sosmed {
    margin-top: -4.3em;
    justify-content: space-between;
    display: flex;
    .follow-us {
      font-size: 18px;
      display: flex;
      margin-right: 8em;
      margin-left: 8em;
      gap: 1rem;
      font-size: 0.9em;
      color: white;
      span{
        margin-left: -1em;
        font-size: 12px;
      }
      img{
        height: 18px;
        border-radius: 50px;
        font-weight: bold;
        

      }
    }
    .sign-in {
      display: flex;
      gap: 2em;
      margin-right: 8em;
      color: white;
      font-size: 0.8em;
    }
  }
}

.header-wrapper {
  position: fixed;
  margin-left: 6em;
  min-width: 100%;
  margin-top: 3em;
}
.header {
  z-index: 1;
  position: absolute;
  background: aliceblue;
  display: flex;
  justify-content: space-between;
  height: 5em;
  align-items: center;
  padding: 2em;
  width: 100%;
  max-width: 90%;
  margin: auto;

  .logo-icon {
    font-size: 24px;
    p {
      color: rgb(92, 88, 88);
    }
    .logo {
      color: $color-green;
      font-size: 1.3em;
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;
    gap: 2em;
  }

  .nav ul {
    color: gray;
    display: flex;
    gap: 1em;
    list-style: none;
  }

  .nav li a {
    font-size: 14px;
    text-decoration: none;
    color: rgb(58, 56, 53);
    &:hover {
      color: $color-green;
    }
  }

  .icon {
    display: flex;
    gap: 2em;
  }
}
