@import "../styles/mixin.scss";
$color-green: rgb(20, 166, 166);

.header-top {
  padding-top: 5em;
  background: $color-green;
  height: 80px;
  width: 100%;
  position: fixed;
  display: none;
  @include md {
    display: block;
  }

  .sosmed {
    margin-top: -4.3em;
    justify-content: space-between;
    display: flex;
    .follow-us {
      font-size: 18px;
      display: flex;
      margin-right: 8em;
      margin-left: 8em;
      gap: 1rem;
      font-size: 0.9em;
      color: white;
      span {
        margin-left: -1em;
        font-size: 12px;
      }
      img {
        height: 18px;
        border-radius: 50px;
        font-weight: bold;
      }
    }
    .sign-in {
      display: flex;
      gap: 2em;
      margin-right: 8em;
      color: white;
      font-size: 0.8em;
    }
  }
}

.header-wrapper {
  position: fixed;
  min-width: 100%;
  margin-top: 3em;
  @include md {
    margin-left: 6em;
  }
}
.header {
  z-index: 1;
  position: absolute;
  background: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  padding: 2em;
  max-width: 100%;
  margin: auto;
  margin-top: -3em;
  width: 100%;
  @include md {
    margin-top: 0;
    justify-content: space-between;
    max-width: 90%;
  }

  .logo-icon {
    font-size: 24px;
    p {
      color: rgb(92, 88, 88);
    }
    .logo {
      color: $color-green;
      font-size: 1.3em;
    }
  }

  .nav {
    margin-top: 7em;
    width: 50%;
    @include md {
      width: 30%;
      margin-top: 0;
      display: flex;
      align-items: center;
      gap: 2em;
    }

    .nav-bar-icon {
      position: absolute;
      margin-top: -4em;
      width: 50%;
      align-items: end;
      display: flex;
      flex-direction: column;
      gap: 4px;
      @include md {
        display: none;
      }
      span {
        width: 1.5em;
        height: 4px;
        background: #000;
      }
    }

    .checkbox {
      z-index: 1;
      display: none;
      margin-top: -4.7em;
      position: absolute;
      width: 95%;
      height: 1.5em;
      display: block;
      @include md {
        display: none;
      }
    }
  }

  .button {
    @include md {
      display: flex;
    }
  }

  .nav ul {
    display: flex;
    position: absolute;
    height: 350px;
    width: 60%;
    text-align: center;
    flex-direction: column;
    color: gray;
    gap: 4em;
    list-style: none;
    background: #d29595;
    padding-top: 2em;
    @include md {
      gap: 2em;
      padding-top: 0;
      display: flex;
      flex-direction: row;
      height: 0;
    }
  }

  .nav li a {
    font-size: 16px;
    text-decoration: none;
    color: rgb(58, 56, 53);
    &:hover {
      color: $color-green;
    }
  }

  .icon {
    display: flex;
    gap: 2em;
  }
}
