@import "../partials/footer";
@import "../partials/content";
@import "../partials/header";
@import "../styles/mixin.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  background-color: white;
  scroll-behavior: smooth;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  
}

.button {
  background: #2ea295;
  color: white;
  padding: 0.5em 2em;
  border: none;
  cursor: pointer;
  &:hover{
    background: #23b7a5;
  }
}
